<h5 *ngIf="!loading">username : {{ decodedToken.username }}</h5>

<hr *ngIf="!loading" />
<ng-template #defaultImage
  ><img src="https://openlibrary.org/images/icons/avatar_book-sm.png" />
</ng-template>

<!-- To Read -->

<div class="chapterV" *ngIf="!loading">
  <div class="chapterB">
    <h5>
      To-Read(<small>{{ countOfIntexToRead }}</small
      >)
    </h5>

    <div
      class="chapter"
      *ngFor="let item of valuesToRead; let i = index"
      [attr.data-index]
    >
      <hr />
      <h6>
        <a href="http://openlibrary.org{{ item.key }}.json">{{
          item?.title
        }}</a>
      </h6>
      <small>by {{ indexOfToReadLibrary[i].author }}</small>
      <br />
      <ng-template [ngIf]="item.covers?.[0] " [ngIfElse]="defaultImage">
        <img *ngIf="imageLoader" #defaultImage />
        <img
          [hidden]="imageLoader"
          (load)="onLoad()"
          src="https://covers.openlibrary.org/b/id/{{ item.covers?.[0] }}-M.jpg"
        />
      </ng-template>
      <br />
      <button
        type="button"
        class="btn btn-outline-primary m-2"
        (click)="transferRead(item.key, indexOfToReadLibrary[i].author)"
      >
        read
      </button>
      <button
        type="button"
        class="btn btn-outline-danger m-2"
        (click)="
          deleteItem(item.key, 'toread');
          valuesToRead.splice(i, 1);
          countOfIntexToRead = countOfIntexToRead - 1
        "
      >
        delete
      </button>
    </div>
  </div>
  <!-- Read -->
  <div class="chapterB" *ngIf="!loading">
    <h5>
      Read(<small>{{ countOfIndex }}</small
      >)
    </h5>
    <div
      class="chapter"
      *ngFor="let item of values; let i = index"
      [attr.data-index]
    >
      <hr />
      <h6>
        <a href="http://openlibrary.org{{ item.key }}.json">{{
          item?.title
        }}</a>
      </h6>
      <small>by {{ indexOfReadLibrary[i].author }}</small>
      <br />
      <ng-template [ngIf]="item.covers?.[0]" [ngIfElse]="defaultImage">
        <img
          src="https://covers.openlibrary.org/b/id/{{ item.covers?.[0]  }}-M.jpg"
        />
      </ng-template>
      <br />
      <button
        type="button"
        class="btn btn-outline-danger m-2"
        (click)="
          deleteItem(item.key, 'read');
          values.splice(i, 1);
          countOfIndex = countOfIndex - 1
        "
      >
        delete
      </button>
    </div>
  </div>
</div>

<div class="center" *ngIf="loading">
  <div class="lds-dual-ring" *ngIf="loading"></div>
</div>
