<h5>username : {{ decodedToken.username }}</h5>

<hr />

<div class="chapterV">
  <div class="chapterB">
    <h5>To-Read(<small>count</small>)</h5>
    <hr />
    <div class="chapter">
      <p>Title</p>
      <small>by</small>
      <br />
      <img
        class="m-3"
        src="https://openlibrary.org/images/icons/avatar_book-sm.png"
      />
      <br />
      <button type="button" class="btn btn-outline-primary m-2">read</button>
      <button type="button" class="btn btn-outline-danger m-2">delete</button>
    </div>
  </div>

  <div class="chapterB">
    <h5>Read(<small>count</small>)</h5>

    <div class="chapter">
      <hr />

      <p>Title</p>
      <small>by</small>
      <br />
      <img
        class="m-3"
        src="https://openlibrary.org/images/icons/avatar_book-sm.png"
      />
      <br />
      <button type="button" class="btn btn-outline-primary m-2">edit</button>
      <button type="button" class="btn btn-outline-danger m-2">delete</button>
    </div>

    <div class="chapter">
      <hr />
      <p>Title</p>
      <small>by</small>
      <br />
      <img
        class="m-3"
        src="https://openlibrary.org/images/icons/avatar_book-sm.png"
      />
      <br />
      <button type="button" class="btn btn-outline-primary m-2">edit</button>
      <button type="button" class="btn btn-outline-danger m-2">delete</button>
    </div>
  </div>
</div>

