<!-- <table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Cover</th>
      <th scope="col">Title</th>
      <th scope="col">Author</th>
      <th scope="col">Image</th>
    </tr>
  </thead>
</table> -->

<div class="empty"></div>

<ng-template #defaultImage
  ><img src="https://openlibrary.org/images/icons/avatar_book-sm.png" />
</ng-template>
<div class="chapterPagination" *ngIf="!loading">
  <pagination-controls
    class="my-pagination"
    (pageChange)="p = $event"
  ></pagination-controls>
</div>
<div class="chapter">
  <!-- start of pagination -->

  <div
    class="chapterB"
    *ngFor="
      let i of values.docs | paginate: { itemsPerPage: 5, currentPage: p }
    "
  >
    <div class="chapter">
      <ng-template [ngIf]="i.cover_i" [ngIfElse]="defaultImage">
        <img src="https://covers.openlibrary.org/b/id/{{ i.cover_i }}-M.jpg" />
      </ng-template>
    </div>
    <div class="dividerText">
      <div class="chapterSmall">
        <div class="chapter">
          <h6>
            <a
              href="http://openlibrary.org{{ i.key }}.json"
              title="{{ i.title }}"
              >{{
                (i.title | slice: 0:15) + (i.title.length > 15 ? "..." : "")
              }}</a
            >
          </h6>
        </div>
        <div class="chapter">
          <small>by </small>

          {{( i.author_name?.[0]|slice: 0:14) + (i.author_name?.[0].length>14?'...' : '')}}
        </div>
      </div>
      <div class="chapterSmallTwo">
        <div class="chapter">
          <button
            (click)="getBook(i.key)"
            type="button"
            class="btn btn-outline-primary m-2"
            mdbRipple
          >
            Read ....
          </button>

          <button type="button" class="btn btn-outline-danger m-2">
            To-Read
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="chapterPagination" *ngIf="!loading">
  <pagination-controls
    (pageChange)="scrollOnChange($event)"
    class="my-pagination"
  ></pagination-controls>
</div>
<div class="center" *ngIf="loading">
  <div class="lds-dual-ring" *ngIf="loading"></div>
</div>
