<!-- <table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Cover</th>
      <th scope="col">Title</th>
      <th scope="col">Author</th>
      <th scope="col">Image</th>
    </tr>
  </thead>
</table> -->

<ng-template #defaultImage
  ><img src="https://openlibrary.org/images/icons/avatar_book-sm.png" />
</ng-template>
<div class="chapterPagination">
  <pagination-controls
    class="my-pagination"
    (pageChange)="p = $event"
  ></pagination-controls>
</div>
<div class="chapter">
  <!-- start of pagination -->

  <div
    class="chapterB"
    *ngFor="
      let i of values.docs | paginate: { itemsPerPage: 5, currentPage: p }
    "
  >
    <div class="chapter">
      <ng-template [ngIf]="i.cover_i" [ngIfElse]="defaultImage">
        <img
          src="https://covers.openlibrary.org/b/id/{{ i.cover_i }}-M.jpg"
          width="84"
        />
      </ng-template>
    </div>
    <div class="chapterSmall">
      <div class="chapter">
        <h5>{{ i.title }}</h5>
      </div>
      <div class="chapter"><small>by</small> {{ i.author_name }}</div>
    </div>
    <div class="chapter">This is some description stuff</div>
  </div>
</div>
<div class="chapterPagination">
  <pagination-controls
    class="my-pagination"
    (pageChange)="p = $event"
  ></pagination-controls>
</div>

<!-- <tbody>
  <tr *ngFor="let i of values.docs">
    <th scope="row">#</th>
    <td>
      <img src="https://covers.openlibrary.org/b/isbn/{{ i.isbn[0] }}-M.jpg" />
    </td>
    <td>{{ i.title }}</td>
    <td>{{ i.author_name }}</td>
    <td></td>
  </tr>
</tbody> -->
