<div class="empty"></div>

<ng-template #defaultImage
  ><img src="https://openlibrary.org/images/icons/avatar_book-sm.png" />
</ng-template>
<div class="chapterPagination" *ngIf="!loading">
  <pagination-controls
    class="my-pagination"
    (pageChange)="p = $event"
  ></pagination-controls>
</div>
<div class="chapter">
  <!-- start of pagination -->

  <div
    class="chapterB"
    *ngFor="
      let item of values.docs | paginate: { itemsPerPage: 5, currentPage: p };
      let i = index
    "
    [attr.data-index]
  >
    <div class="chapter">
      <ng-template [ngIf]="item.cover_i" [ngIfElse]="defaultImage">
        <img
          [hidden]="imageLoader"
          (load)="onLoad()"
          src="https://covers.openlibrary.org/b/id/{{ item.cover_i }}-M.jpg"
        />
        <img
          *ngIf="imageLoader"
          src="https://openlibrary.org/images/icons/avatar_book-sm.png"
        />
      </ng-template>
    </div>
    <div class="dividerText">
      <div class="chapterSmall">
        <div class="chapter">
          <h6>
            <a
              href="http://openlibrary.org{{ item.key }}.json"
              title="{{ item.title }}"
              >{{
                (item.title | slice: 0:15) +
                  (item.title.length > 15 ? "..." : "")
              }}</a
            >
          </h6>
        </div>
        <div class="chapter">
          <small>by </small>

          {{( item.author_name?.[0]|slice: 0:14) + (item.author_name?.[0].length>14?'...' : '')}}
        </div>
      </div>
      <div class="chapterSmallTwo">
        <div class="chapter">
          <button
            (click)="
              postReadBook(item);
              canDelete ? values.docs.splice(i, 1) : values.docs.splice(i, 1)
            "
            type="button"
            class="btn btn-outline-primary m-2"
          >
            &zwnj; &zwnj; Read &zwnj; &#x200B;
          </button>

          <!-- TODO fix the button -->
          <button
            (click)="
              postToReadBook(item);
              canDelete ? values.docs.splice(i, 1) : values.docs.splice(i, 1)
            "
            type="button"
            class="btn btn-outline-danger m-2"
          >
            To-Read
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="chapterPagination" *ngIf="!loading">
  <pagination-controls
    (pageChange)="scrollOnChange($event)"
    class="my-pagination"
  ></pagination-controls>
</div>
<div class="center" *ngIf="loading">
  <div class="lds-dual-ring" *ngIf="loading"></div>
</div>
