<div class="chapter1">
  <div class="chapter">
    <div style="display: block">
      <canvas
        baseChart
        [data]="radarChartData"
        [options]="radarChartOptions"
        [type]="radarChartType"
      >
      </canvas>
    </div>
  </div>
  <div class="chapter">
    <div style="display: block">
      <canvas
        baseChart
        [data]="radarChartData"
        [options]="radarChartOptions"
        [type]="radarChartType"
      >
      </canvas>
    </div>
  </div>
</div>
<div class="chapter1">
  <div class="chapter">
    <div style="display: block">
      <canvas
        baseChart
        [data]="radarChartData"
        [options]="radarChartOptions"
        [type]="radarChartType"
      >
      </canvas>
    </div>
  </div>
  <div class="chapter">
    <div style="display: block">
      <canvas
        baseChart
        [data]="radarChartData"
        [options]="radarChartOptions"
        [type]="radarChartType"
      >
      </canvas>
    </div>
  </div>
</div>
<div class="chapter1">
  <div class="chapter">
    <div style="display: block">
      <canvas
        baseChart
        [data]="radarChartData"
        [options]="radarChartOptions"
        [type]="radarChartType"
      >
      </canvas>
    </div>
  </div>
  <div class="chapter">
    <div style="display: block">
      <canvas
        baseChart
        [data]="radarChartData"
        [options]="radarChartOptions"
        [type]="radarChartType"
      >
      </canvas>
    </div>
  </div>
</div>
<div class="chapter1">
  <div class="chapter">
    <div style="display: block">
      <canvas
        baseChart
        [data]="radarChartData"
        [options]="radarChartOptions"
        [type]="radarChartType"
      >
      </canvas>
    </div>
  </div>
  <div class="chapter">
    <div style="display: block">
      <canvas
        baseChart
        [data]="radarChartData"
        [options]="radarChartOptions"
        [type]="radarChartType"
      >
      </canvas>
    </div>
  </div>
</div>
<div class="chapter1">
  <div class="chapter">
    <div style="display: block">
      <canvas
        baseChart
        [data]="radarChartData"
        [options]="radarChartOptions"
        [type]="radarChartType"
      >
      </canvas>
    </div>
  </div>
  <div class="chapter">
    <div style="display: block">
      <canvas
        baseChart
        [data]="radarChartData"
        [options]="radarChartOptions"
        [type]="radarChartType"
      >
      </canvas>
    </div>
  </div>
</div>
<div class="chapter1">
  <div class="chapter">
    <div style="display: block">
      <canvas
        baseChart
        [data]="radarChartData"
        [options]="radarChartOptions"
        [type]="radarChartType"
      >
      </canvas>
    </div>
  </div>
  <div class="chapter">
    <div style="display: block">
      <canvas
        baseChart
        [data]="radarChartData"
        [options]="radarChartOptions"
        [type]="radarChartType"
      >
      </canvas>
    </div>
  </div>
</div>
